
footer {
  overflow: hidden;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  margin: auto;
  padding: $spacing/2 0;
  width: 100%;
  max-width: $page-max-width;
  min-width: $page-min-width;
  height: $footer-height;

  text-align: center;

  transition: transform 500ms ease 750ms;
  transform: translate3d(0,0,0);

  background: $color-gray-light;

  @include respond-to(medium) {
    position: fixed;
    background: transparent;
  }

  &:after {
    position: absolute;
    top: 0%; right: 0%;
    z-index: 0;

    content: '';

    display: block;
    width: 200%;
    height: 100%;

    background: $color-gray;

    transition: transform 1500ms ease 750ms;
    transform-origin: top right;
    transform: rotate(-1deg);
  }

  .loading & {
    transform: translate3d(0,100%,0);

    &:after {
      transform: rotate(-5deg);
    }
  }

  > grid {
    position: relative;
    top: 50%;
    z-index: 1;

    text-align: right;

    opacity: 1;
    transform: translate3d(0,-50%,0);
    transition: opacity 500ms, transform 750ms;
    transition-delay: 1s;

    .loading & {
      opacity: 0;
      transform: translate3d(100%,-50%,0);
    }
  }

  .title {
    display: block;
    text-align: right;
  }

  html[svef-site='svef'] & {
    &:after {
      background: $color-svef;
    }
  }
  html[svef-site='awards'] & {
    &:after {
      background: $color-awards;
    }
  }
  html[svef-site='conf'] & {
    &:after {
      background: $color-conf;
    }
  }
}
