extends /templates/shared/_layout

block content
  grid
    column.medium-8#posts
    column.medium-4
      form#slack-invite
        input#slack-email(type="email" placeholder="Netfang")
        button Skrá mig
