
.svg-logo-svef {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;

  margin: auto;
  width: 80%;
  max-width: 800px;

  .svef {
    fill: $color-orange;
  }
  .samtok-vefidnadarins {
    fill: $color-orange;
  }
}
