
// Font
$font-size: 18px;
$font-size-small: 16px;
$font-size-large: 22px;

// SVEF colors
$color-svef: #E7792B;
$color-awards: #2B7E99;
$color-conf: #A63F5B;
$color-gray: #4A4A4A;
$color-gray-light: #EBEBEA;
$color-gray-dark: #1a1a1e;

// Sizes
$spacing: 20px;
$page-max-width: 1280px;
$page-min-width: 320px;

$footer-height: 50px;
$header-height: 100px;

// Text direction & floats
$text-direction: ltr;
$default-float: left;
$opposite-float: right;
@if $text-direction == ltr {
  $default-float: left;
  $opposite-float: right;
} @else {
  $default-float: right;
  $opposite-float: left;
}

// Grid
$grid-columns: 12;
$grid-gutter: $spacing;

// Media Queries
$screen: "only screen";
$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$retina:
  "(min--moz-device-pixel-ratio: 1.5),
  (-o-min-device-pixel-ratio: 3/2),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx)";

// To create new breakpoint:
// Create range values, add to breakArray, add to respond-to mixin

$break-xsmall: 0px;
$break-small: 480px;
$break-medium: 640px;
$break-large: 830px;
$break-xlarge: 1024px;
$break-xxlarge: 1200px;

// name        value
$breakArray:
  ("xsmall"    $break-xsmall)
  ("small"     $break-small)
  ("medium"    $break-medium)
  ("large"     $break-large)
  ("xlarge"    $break-xlarge)
  ("xxlarge"   $break-xxlarge)
;

$xsmall-up: "#{$screen} and (min-width:#{$break-xsmall + 1})";
$xsmall-only: "#{$screen} and (min-width:#{$break-xsmall + 1}) and (max-width:#{$break-xsmall})";

$small-up: "#{$screen} and (min-width:#{$break-small + 1})";
$small-only: "#{$screen} and (min-width:#{$break-small + 1}) and (max-width:#{$break-small})";

$medium-up: "#{$screen} and (min-width:#{$break-medium + 1})";
$medium-only: "#{$screen} and (min-width:#{$break-medium + 1}) and (max-width:#{$break-medium})";

$large-up: "#{$screen} and (min-width:#{$break-large + 1})";
$large-only: "#{$screen} and (min-width:#{$break-large + 1}) and (max-width:#{$break-large})";

$xlarge-up: "#{$screen} and (min-width:#{$break-xlarge + 1})";
$xlarge-only: "#{$screen} and (min-width:#{$break-xlarge + 1}) and (max-width:#{$break-xlarge})";

$xxlarge-up: "#{$screen} and (min-width:#{$break-xxlarge + 1})";
$xxlarge-only: "#{$screen} and (min-width:#{$break-xxlarge + 1}) and (max-width:#{$break-xxlarge})";
