
header {
  position: relative;
  z-index: 1;

  display: block;
  margin: 0 auto $spacing;
  padding: 0;

  @include respond-to(medium) {
    height: $header-height;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0; bottom: -4px;
    z-index: 1;

    display: block;
    width: 100%;
    height: 4px;

    background: $color-gray;

    transition: transform 250ms ease 750ms;
    transform: translate3d(0,0,0);

    .loading & {
      transform: translate3d(100%,0,0);
    }

    @include respond-to(medium) {
      bottom: 0;
      width: calc(100% - #{$spacing*2});
    }
  }

  .logo svg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;

    margin: auto;
    width: 120px;

    animation-duration: 1.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 250ms;

    @include respond-to(large) {
      width: 190px;
    }

    .logo-graphic {
      opacity: 1;
      transition: opacity 750ms ease 750ms;

      stroke: transparent;
      fill: transparent;

      .loading & {
        opacity: 0;
        transition: opacity 250ms;
      }
    }
  }

  nav {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    padding-right: 120px;

    opacity: 1;
    transition: opacity 500ms ease 500ms;

    @include respond-to(medium) {
      position: absolute;
      left: $spacing*2;
      bottom: 4px;
    }

    a {
      position: relative;

      margin: 0 0 0 $spacing/2;
      padding: 0;

      display: block;
      line-height: 40px;

      font-size: 20px;
      text-decoration: none;

      opacity: 1;
      transform: translate3d(0,0,0);
      transition: opacity 750ms, transform 500ms;
      transition-delay: 1000ms;

      &[href^="#"] {
        font-style: italic;
      }

      &:after {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;

        display: block;
        width: 0px;
        height: auto;

        background: $color-gray;

        transform: translate3d(-10px,0,0);
        transition: transform 150ms, width 150ms;
      }

      &.active,
      &:hover {
        &:after {
          width: 4px;
        }
      }


      @include respond-to(medium) {
        display: inline-block;
        margin: 0 $spacing/2;

        &:first-child {
          margin-left: $spacing
        }

        &:after {
          top: auto;
          right: 0;

          width: auto;
          height: 4px;

          transform: translate3d(0,100%,0);
        }

        &.active,
        &:hover {
          &:after {
            width: auto;
            transform: translate3d(0,0,0);
          }
        }
      }
    }

    .loading & {
      opacity: 0;

      a {
        opacity: 0;
        transform: translate3d(100%,0,0);
      }
    }
  }

  html[site] & {
    nav a:after,
    &:after {
      background: $color-gray;
    }

    .logo svg {
      animation-name: loadingdefault;
    }
  }
  html[svef-site='svef'] & {
    nav a:after,
    &:after {
      background: $color-svef;
    }

    .logo svg {
      animation-name: loadingsvef;

      .logo-graphic.logo-svef {
        fill: $color-svef;
      }
    }
  }
  html[svef-site='awards'] & {
    nav a:after,
    &:after {
      background: $color-awards;
    }

    .logo svg {
      animation-name: loadingawards;

      .logo-graphic.logo-awards {
        fill: $color-awards;
      }
    }
  }
  html[svef-site='conf'] & {
    nav a:after,
    &:after {
      background: $color-conf;
    }

    .logo svg {
      animation-name: loadingconf;

      .logo-graphic.logo-conf {
        fill: $color-conf;
      }
    }
  }
}


@keyframes loadingdefault {
  0% {
    transform: rotate(-180deg);
    stroke: transparent;
    stroke-width: 1px;
    fill: transparent;
  }
  33% {
    transform: rotate(-120deg);
    stroke: $color-svef;
    stroke-width: 2px;
    fill: transparent;
  }
  66% {
    transform: rotate(-60deg);
    stroke: $color-awards;
    stroke-width: 3px;
    fill: transparent;
  }
  100% {
    transform: rotate(0deg);
    stroke: $color-gray;
    stroke-width: 4px;
    fill: $color-gray;
  }
}


@keyframes loadingsvef {
  0% {
    transform: rotate(-180deg);
    stroke: transparent;
    stroke-width: 1px;
    fill: transparent;
  }
  33% {
    transform: rotate(-120deg);
    stroke: $color-awards;
    stroke-width: 2px;
    fill: transparent;
  }
  66% {
    transform: rotate(-60deg);
    stroke: $color-conf;
    stroke-width: 3px;
    fill: transparent;
  }
  100% {
    transform: rotate(0deg);
    stroke: $color-svef;
    stroke-width: 4px;
    fill: $color-gray-light;
  }
}


@keyframes loadingawards {
  0% {
    transform: rotate(-180deg);
    stroke: transparent;
    stroke-width: 1px;
    fill: transparent;
  }
  33% {
    transform: rotate(-120deg);
    stroke: $color-svef;
    stroke-width: 2px;
    fill: transparent;
  }
  66% {
    transform: rotate(-60deg);
    stroke: $color-conf;
    stroke-width: 3px;
    fill: transparent;
  }
  100% {
    transform: rotate(0deg);
    stroke: $color-awards;
    stroke-width: 4px;
    fill: $color-gray-light;
  }
}


@keyframes loadingconf {
  0% {
    transform: rotate(-180deg);
    stroke: transparent;
    stroke-width: 1px;
    fill: transparent;
  }
  33% {
    transform: rotate(-120deg);
    stroke: $color-svef;
    stroke-width: 2px;
    fill: transparent;
  }
  66% {
    transform: rotate(-60deg);
    stroke: $color-awards;
    stroke-width: 3px;
    fill: transparent;
  }
  100% {
    transform: rotate(0deg);
    stroke: $color-conf;
    stroke-width: 4px;
    fill: $color-gray-light;
  }
}
