doctype html

html.loading(svef-site='svef')
  include _head

  body
    main
      block header
        include _header

      .inner
        block content

    block footer
      include _footer

    block javascript
      script(src='/scripts/main.js')
