doctype html

html.loading
  include _head

  body
    loading
      include ../../images/svef-logo.svg

    main
      block header
        include _header

      block content

    block footer
      include _footer

    block javascript
      script(src='/scripts/main.js')
