
main {
  overflow: hidden;

  position: relative;
  z-index: 1;

  margin: 0 auto;
  padding: 0 0 $spacing;

  max-width: $page-max-width;
  min-width: $page-min-width;
  min-height: 100vh;

  color: $color-gray;

  @include respond-to(medium) {
    padding-bottom: $footer-height + $spacing;
  }

  > .inner{
    position: relative;
    z-index: 1;

    padding: 0;

    @include respond-to(medium) {
      padding: 0 $spacing*2;
    }

    opacity: 1;
    transform: translate3d(0,0,0);
    transition: opacity 500ms, transform 750ms;
    transition-delay: 1s;

    grid {
      text-align: left;
    }

    .loading & {
      opacity: 0;
      transform: translate3d(0,20px,0);
    }
  }

  &:after {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 0;

    content: '';

    background: $color-gray-light;

    transition: transform 416ms ease 416ms;
    transform: rotateY(0deg);

    .loading & {
      transform: rotateY(90deg);
    }
  }
}
